# langchain
# langchain-community
# fpdf2
# streamlit
# transformers
# pdfplumber
# faiss-cpu
# python-dotenv
streamlit
pdfplumber
PyPDF2
fpdf
langchain
transformers
huggingface-hub
faiss-cpu
unicodedata2
concurrent-log-handler
